*{
    border-sizing: border-box;
}
body {
    background-color:#FFF;
    display: flex;
    
    
}
.container {
    background-color: #6a5ab3;
    height: 215px;
    width: 400px;
   margin: auto;
   
   justify-content: center;
   align-items: center;
    
    
}

.first {
    background-color:#FFF;
    height: 150px;
    width: 150px;
    
    margin: 30px auto;
    /* transform: rotate(45deg); */
    

}